$brand1: #2b8a3e;
$brand2: #37b24d;

$sub1: #fcc419;
$sub2: #ffec99;
$sub3: #e03131;

$gray1: #212529;
$gray2: #495057;
$gray3: #dee2e6;
$gray4: #f8f9fa;

$white: #ffffff;

$shadow1: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
$shadow2: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
$shadow3: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

$breakpoint-mobile: 376px;
$breakpoint-large-mobile: 550px;
$breakpoint-tablet: 768px;
$breakpoint-small-desktop: 1200px;
$breakpoint-desktop: 1400px;
